## DSCI 303 â€“ Project 02
### Samuel Tamakloe

# Introduction

In this project You will utilize the gapminder dataset in this project. This dataset covers 219 years, from 1800 to 2018, and includes socioeconomic data for 184 nations.

In [3]:
import pandas as pd
df = pd.read_csv('gapminder_data.txt', sep='\t')
df.head(10)

,country,year,continent,population,life_exp,gdp_per_cap,gini
0,Afghanistan,1800,asia,3280000,28.2,603,30.5
1,Albania,1800,europe,410000,35.4,667,38.9
2,Algeria,1800,africa,2500000,28.8,715,56.2
3,Angola,1800,africa,1570000,27.0,618,57.2
4,Antigua and Barbuda,1800,americas,37000,33.5,757,40.0
5,Argentina,1800,americas,534000,33.2,1510,47.7
6,Armenia,1800,europe,413000,34.0,514,31.5
7,Australia,1800,asia,351000,34.0,814,38.7
8,Austria,1800,europe,3210000,34.4,1850,33.4
9,Azerbaijan,1800,europe,880000,29.2,775,70.5

In [4]:
country = df.country.to_list()
continent = df.continent.to_list()
year = df.year.to_list()
population = df.population.to_list()
life_exp = df.life_exp.to_list()
pcgdp = df.gdp_per_cap.to_list()
gini = df.gini.to_list()

In [5]:
 N = 1

print('Country: ', country[N])
print('Continent: ', continent[N])
print('Year: ', year[N])
print('Population: ', population[N])
print('Life Expectancy: ', life_exp[N])
print('Per Capita GDP: ', pcgdp[N])

Country:  Albania
Continent:  europe
Year:  1800
Population:  410000
Life Expectancy:  35.4
Per Capita GDP:  667

# Part 1: Displaying Past 20 Years of US Data
With this part of the projets I am going to print or output to display the year, country, population, Life expentancy , gdp and gini of 20 years data, The code will loop or iterate through the country data and there will be string comparism between the year and the country.

In [6]:
print("Year    Country         Population  LExp   pcGDP   Gini")
print("-" * 55)
for i in  range(len(country)):
    if year[i] >= 1999 and country[i] == 'United States':
        print(f"{year[i]}    {country[i]}   {population[i]}   {life_exp[i]}   {pcgdp[i]}   {gini[i]}")

Year    Country         Population  LExp   pcGDP   Gini
-------------------------------------------------------
1999    United States   279000000   76.8   44700   40.5
2000    United States   282000000   76.9   46000   40.5
2001    United States   285000000   77.0   46000   40.5
2002    United States   288000000   77.1   46400   40.5
2003    United States   290000000   77.3   47300   40.5
2004    United States   293000000   77.5   48600   40.6
2005    United States   295000000   77.7   49800   40.7
2006    United States   298000000   77.9   50600   40.8
2007    United States   301000000   78.1   51000   40.8
2008    United States   303000000   78.3   50400   40.8
2009    United States   306000000   78.6   48600   40.7
2010    United States   309000000   78.7   49400   40.7
2011    United States   311000000   78.8   49800   40.7
2012    United States   313000000   78.9   50500   40.8
2013    United States   316000000   78.9   51000   41.0
2014    United States   318000000   78.9   51800   41.2
2015    United States   320000000   78.8   52800   41.3
2016    United States   322000000   78.8   53300   41.4
2017    United States   324000000   79.0   54200   41.5
2018    United States   327000000   79.1   54900   41.5

# Part 2: Selecting the 2018 Data
This part is about pursing data to list 2018 data

In [7]:
country_2018 = []
population_2018 = [] 
continent_2018 = []
life_exp_2018 = []
pcgdp_2018 = []
gini_2018 = []

for i in range(len(year)):
    if year[i] == 2018:
        country_2018.append(country[i])
        population_2018.append(population[i])
        continent_2018.append(continent[i])
        life_exp_2018.append(life_exp[i])
        pcgdp_2018.append(pcgdp[i])
        gini_2018.append(gini[i])
global_population_2018 = sum(population_2018)
print('The global population in 2018 was',global_population_2018)

The global population in 2018 was 7595200200

# Part 3: Identifying Countries with Largest and Smallest Populations
This part of the code population will be sorted and loop to display the smallest and largests population

In [8]:
sorted_population = sorted(population_2018,reverse=True)
tenth_largest_population = sorted_population[9]
print("Countries with Largest Populations in 2018")
print('-' * 50)
for i in range(len(country_2018)):
    if population_2018[i] >= tenth_largest_population:
        print(f"The population of {country_2018[i]} in 2018 was { population_2018[i]}")

Countries with Largest Populations in 2018
--------------------------------------------------
The population of Bangladesh in 2018 was 166000000
The population of Brazil in 2018 was 211000000
The population of China in 2018 was 1420000000
The population of India in 2018 was 1350000000
The population of Indonesia in 2018 was 267000000
The population of Mexico in 2018 was 131000000
The population of Nigeria in 2018 was 196000000
The population of Pakistan in 2018 was 201000000
The population of Russia in 2018 was 144000000
The population of United States in 2018 was 327000000

In [9]:
sorted_population = sorted( population_2018)
tenth_smallest_population = sorted_population[9]
print("Countries with Smallest Populations in 2018")
print('-' * 50)
for i in range(len(population_2018)):
    if population_2018[i] <= tenth_smallest_population:
#         country_index = population_2018.index(small_country)
#         country_name = country[country_index]
        print(f"The population of {country_2018[i]} in 2018 was {population_2018[i]}")

Countries with Smallest Populations in 2018
--------------------------------------------------
The population of Antigua and Barbuda in 2018 was 103000
The population of Grenada in 2018 was 108000
The population of Kiribati in 2018 was 118000
The population of Micronesia, Fed. Sts. in 2018 was 106000
The population of Samoa in 2018 was 198000
The population of Sao Tome and Principe in 2018 was 209000
The population of Seychelles in 2018 was 95200
The population of St. Lucia in 2018 was 180000
The population of St. Vincent and the Grenadines in 2018 was 110000
The population of Tonga in 2018 was 109000

# Part 4: Identifying Countries with Highest and Lowest Life Expectancies
This part of the code life expectancy of 2018 will be sorted and loop to display the Highest and lower life expentancy in 2018

In [10]:
sorted_life_exp_2018 = sorted(life_exp_2018, reverse=True)
tenth_highest_life_exp = sorted_life_exp_2018[9]

# Printing the header for countries with highest life expectancies
print("Countries with Highest Life Expectancy in 2018")
print("-" * 50)

# Printing information for countries with highest life expectancies
for i in range(len(country_2018)):
    if life_exp_2018[i] >=  tenth_highest_life_exp:
        print(f'The life expectancy of {country_2018[i]} in 2018 was {life_exp_2018[i]}.')

Countries with Highest Life Expectancy in 2018
--------------------------------------------------
The life expectancy of Australia in 2018 was 82.9.
The life expectancy of France in 2018 was 82.6.
The life expectancy of Iceland in 2018 was 82.6.
The life expectancy of Israel in 2018 was 82.4.
The life expectancy of Italy in 2018 was 82.6.
The life expectancy of Japan in 2018 was 84.2.
The life expectancy of Luxembourg in 2018 was 82.4.
The life expectancy of Norway in 2018 was 82.4.
The life expectancy of Singapore in 2018 was 84.0.
The life expectancy of Spain in 2018 was 83.2.
The life expectancy of Sweden in 2018 was 82.4.
The life expectancy of Switzerland in 2018 was 83.5.

In [11]:
sorted_lowest_life_exp = sorted(life_exp_2018)
tenth_lowest_life_exp = sorted_lowest_life_exp[9]

# Printing the header for countries with lowest life expectancies
print("Countries with lowest Life Expectancy in 2018")
print("-" * 50)

# Printing information for countries with lowest life expectancies
for i in range(len(country_2018)):
    if life_exp_2018[i] <= tenth_lowest_life_exp:
        print(f'The life expectancy of {country_2018[i]} in 2018 was {life_exp_2018[i]}.')

Countries with lowest Life Expectancy in 2018
--------------------------------------------------
The life expectancy of Afghanistan in 2018 was 58.7.
The life expectancy of Central African Republic in 2018 was 51.6.
The life expectancy of Chad in 2018 was 60.5.
The life expectancy of Guinea-Bissau in 2018 was 59.7.
The life expectancy of Lesotho in 2018 was 51.1.
The life expectancy of Sierra Leone in 2018 was 60.0.
The life expectancy of Somalia in 2018 was 58.0.
The life expectancy of Swaziland in 2018 was 58.6.
The life expectancy of Zambia in 2018 was 59.5.
The life expectancy of Zimbabwe in 2018 was 60.2.

# Part 5: Calculating GDP by Country
This part of the code GDP will be loop to display the highest and lowest GDP of countries in 2018

In [12]:
gdp_2018 = []
for i in range(len(country_2018)):
    gdp = pcgdp_2018[i] * population_2018[i]
    gdp_2018.append(gdp)
# Calculate the total global GDP in 2018
total_gdp_2018 = sum(gdp_2018) 
print(f'The total global GDP in 2018 was ${total_gdp_2018}.')

The total global GDP in 2018 was $118225647770000.

In [13]:
# Find the country with the highest GDP in 2018
highest_gdp_index = gdp_2018.index(max(gdp_2018))
highest_gdp_country = country_2018[highest_gdp_index]
highest_gdp = max(gdp_2018)

# Find the country with the lowest GDP in 2018
lowest_gdp_index = gdp_2018.index(min(gdp_2018))
lowest_gdp_country = country_2018[lowest_gdp_index]
lowest_gdp = min(gdp_2018)

# Print the country with the highest and lowest GDP in 2018
print(f"The country with the highest GDP in 2018 was {highest_gdp_country} with a GDP of ${highest_gdp}.")
print(f"The country with the lowest GDP in 2018 was {lowest_gdp_country} with a GDP of ${lowest_gdp}.")

The country with the highest GDP in 2018 was China with a GDP of $22720000000000.
The country with the lowest GDP in 2018 was Kiribati with a GDP of $223020000.

# Part 6: Grouping by Continent
This part of the project the code will calculate the total life expectancy, population, GDP and display it.

In [15]:
continent_names = ['africa', 'americas', 'asia', 'europe']
pcgdp_2018_by_continent = [] 
pop_2018_by_continent = [] 
life_exp_2018_by_continent = []

for continent in continent_names:
    temp_life_exp = 0
    temp_pop = 0 
    temp_gdp = 0
    
    # Loop over countries
    for i in range(len(continent_2018)):
        if continent == continent_2018[i].lower():
            temp_pop += population_2018[i]
            temp_gdp += pcgdp_2018[i] * population_2018[i]
            temp_life_exp += life_exp_2018[i] * population_2018[i]
    #Divid
    temp_life_exp /= temp_pop
    temp_gdp /= temp_pop
    temp_gdp = round(temp_gdp)
    temp_life_exp = round(temp_life_exp, 1)
    
    #Append
    pcgdp_2018_by_continent.append(temp_gdp)
    pop_2018_by_continent.append(temp_pop)
    life_exp_2018_by_continent.append(temp_life_exp)


#Print the results
print(f"{'Continent':<11} {'Population':>12} {'pcGDP':>7} {'LifeExp':>9}")
print('-' * 42)

for i in range(len(continent_names)):
    continent = continent_names[i].capitalize()
    population = pop_2018_by_continent[i]
    pcgdp = pcgdp_2018_by_continent[i]
    life_exp = life_exp_2018_by_continent[i]
    print(f"{continent:<11} {population:>12} {pcgdp:>7} {life_exp:>7}")

Continent     Population   pcGDP   LifeExp
------------------------------------------
Africa        1287150200    4700    65.9
Americas      1010978000   28708    77.5
Asia          4455113000   12705    73.2
Europe         841959000   31534    78.4